[submodule "deps/linmath.h"]
	path = deps/linmath.h
	url = https://github.com/datenwolf/linmath.h
[submodule "deps/perlin"]
	path = deps/perlin
	url = https://github.com/czinn/perlin
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/dragontype"]
	path = deps/dragontype
	url = https://github.com/dragonblocks/dragontype
[submodule "deps/endian.h"]
	path = deps/endian.h
	url = https://github.com/mikepb/endian.h
