# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Binaries
Dragonblocks
DragonblocksServer
DragonblocksAlpha-*.zip

# Data
client.conf
server.conf
world.sqlite
world.sqlite-journal
screenshot-*.png

# Generated code
src/version.h
src/types.c
src/types.h
