[submodule "deps/linmath.h"]
	path = deps/linmath.h
	url = https://github.com/datenwolf/linmath.h
[submodule "deps/perlin"]
	path = deps/perlin
	url = https://github.com/czinn/perlin
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/dragonstd"]
	path = deps/dragonstd
	url = https://github.com/dragonblocks/dragonstd
[submodule "deps/endian.h"]
	path = deps/endian.h
	url = https://github.com/dragonblocks/endian.h
[submodule "deps/asprintf"]
	path = deps/asprintf
	url = https://github.com/dragonblocks/asprintf
[submodule "deps/dragonnet"]
	path = deps/dragonnet
	url = https://github.com/dragonblocks/dragonnet
[submodule "deps/linenoise"]
	path = deps/linenoise
	url = https://github.com/antirez/linenoise
[submodule "deps/protogen"]
	path = deps/protogen
	url = https://github.com/dragonblocks/protogen
