[submodule "deps/linmath.h"]
	path = deps/linmath.h
	url = https://github.com/datenwolf/linmath.h
[submodule "deps/perlin"]
	path = deps/perlin
	url = https://github.com/dragonblocks/perlin
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/dragonstd"]
	path = deps/dragonstd
	url = https://github.com/dragonblocks/dragonstd
[submodule "deps/endian.h"]
	path = deps/endian.h
	url = https://github.com/dragonblocks/endian.h
[submodule "deps/asprintf"]
	path = deps/asprintf
	url = https://github.com/dragonblocks/asprintf
[submodule "deps/dragonnet"]
	path = deps/dragonnet
	url = https://github.com/dragonblocks/dragonnet
[submodule "deps/linenoise"]
	path = deps/linenoise
	url = https://github.com/dragonblocks/linenoise
[submodule "deps/protogen"]
	path = deps/protogen
	url = https://github.com/dragonblocks/protogen
[submodule "deps/getline"]
	path = deps/getline
	url = https://github.com/dragonblocks/getline
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/glew-cmake"]
	path = deps/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "deps/sqlite3-cmake"]
	path = deps/sqlite3-cmake
	url = https://github.com/dragonblocks/sqlite3-cmake
[submodule "deps/stpcpy"]
	path = deps/stpcpy
	url = https://github.com/dragonblocks/stpcpy
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/dragonblocks/zlib
