name: snapshot
on: [push]
jobs:
  snapshot:
    runs-on: ubuntu-latest
    container: debian:sid
    steps:
      - name: Install deps
        run: |
          apt-get update
          apt-get install -y git build-essential cmake meson lua5.4 xorg-dev libgl1-mesa-dev libxkbcommon-dev mingw-w64 curl zip
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Add safe directory
        run: git config --global --add safe.directory $PWD
      - name: Build linux snapshot
        run: |
          ./misc/snapshot.sh linux
      - name: Build win32 snapshot
        run: |
          ./misc/snapshot.sh win32
      - name: Build win64 snapshot
        run: |
          ./misc/snapshot.sh win64
      - name: Upload snapshots
        if: github.ref == 'refs/heads/master'
        env:
          SECRET: ${{ secrets.UPLOAD_TOKEN }}
        run: |
          ./misc/upload.sh Linux Win32 Win64
  snapshot-macos:
    runs-on: macos-26
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "^26.1"
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@0fd01fffe2bb7ba090ade9655fe7e89ab5c613d4 # 2025-10-31, no tagged version
      - name: Install deps
        run: |
          brew install meson cmake lua git zip
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Add safe directory
        run: git config --global --add safe.directory $PWD
      - name: Build macos snapshot
        run: |
          ./misc/snapshot.sh macos
      - name: Upload macos snapshot
        if: github.ref == 'refs/heads/master'
        env:
          SECRET: ${{ secrets.UPLOAD_TOKEN }}
        run: |
          ./misc/upload.sh MacOS
